# Linux
*~
.fuse_hidden*
.Trash-*
.nfs*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.lnk

# Jetbrains
.idea

# vscode
.vscode/*

# project
/node_modules
