Covers:
#    # Where to store covers files to be served
    Directory: ./tmp/covers
#    # Preferred source for media cover image ("file" => image from mp3 file or "folder" => image file from folder)
#    PreferredSource: folder

# Logging system.
#Log:
#    Enabled: true
#    File: app.log
#    Path: ./

# Webserver configuration.
#Server:
#    Port: 8888
#    Https:
#        Enabled: false
#        # Path to ssl certificate.
#        CertFile: ""
#        # Path to ssl file.
#        KeyFile: ""

Users:
    # Enables users authentication. You can disable this if your server is not public
    # or if you don't care about users roles management.
    # Note that by disabling this you lose the ability to have multiple users.
    AuthEnabled: true
    # Put a random string here
    JWTSecret: arandomstring
    # When AuthEnabled is false, a default user will de used. Select here its roles.
    # Available roles are: root, admin, listener
    DefaultUserRoles:
        - listener
        - admin
        - root

DevMode:
    Enabled: false
    AllowedOrigins:
      - http://localhost:3000
      - http://localhost:3001

# Library configuration.
Library:
    # Absolute path to your music collection.
    Path: ./tmp/music_lib

# Client app settings.
ClientSettings:
    # Disable library configuration (Scan / Erase / Covers sources, ...) from the client side. Useful if you share
    # the app to strangers on the internet.
    DisableLibraryConfiguration: false
